# deps
node_modules/
functions/node_modules/

# builds
.next/
out/
dist/
build/
functions/lib/

# firebase
.firebase/
firebase-debug.log

# env/secrets
.env
.env.*
*.local
*service-account*.json
*.pem
*.p12

# misc
.DS_Store
.vscode/
*.log
